/* @MEDIA */
@media (min-width: 1075px) {
  h1 { 
    font-size: 3em; 
    padding-top: 50px;
  }

}

pre {
  background: #fff;
  display: inline-block;
  font-size: .55em;
  margin-top: 2em;
  padding: 1em;
}

@media (min-width: 360px) {
  pre { font-size: .7em; }
}

@media (min-width: 500px) {
  pre { font-size: 1em; }
}