/* GOOGLE FONTS API */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic);

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*** BASIC STYLE ***/
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
  font-weight: normal;
  line-height: 1.4;
}

/* DEFINE THE BOX-SIZING: INHERIT FOR ALL THE ELEMENTS */
*,
*:before,
*:after  { box-sizing: inherit; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

span { 
  color: #5FCF80;
  font-family: monospace;
  white-space: nowrap;
}

span:after { 
  font-family: Arial, sans-serif;
  text-align: left; 
  white-space: normal;
}

span:focus {
  outline: none;
}

#wrap {
  /* this set of rules make the div stretch the height of 100% */
  height: 100%;
  overflow: auto;
  margin: 0 auto;

  background: #EDEFF0;
  color: #8D9AA5;
  text-align: center;
  padding: 1em 2.5em;
  width: 60%;
}

h1 { 
  color: #5FCF80;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  font-size: 7vw;
  line-height: 1.2;
  margin: 0.5em 0 3em;
  text-shadow: 1px 1px 1px #fefefe;
}

@media (min-width: 1075px) {
  h1 { 
    font-size: 3em; 
    padding-top: 50px;
  }
}

pre {
  background: #fff;
  display: inline-block;
  font-size: .55em;
  margin-top: 2em;
  padding: 1em;
}

@media (min-width: 360px) {
  pre { font-size: .7em; }
}

@media (min-width: 500px) {
  pre { font-size: 1em; }
}