.tool {
  cursor: help;
  /* position: relative; so our pseudo-element will be relative to the span tag */
  position: relative;
}

/* create the ::before and ::after pseudo-elements, that we gonna use for the talk-bubble */
.tool::before,
.tool::after {
  position: absolute;
  left: 50%;
  /* hided at the beginning */
  opacity: 0;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  z-index: 100;
  /*transform: scale(1) translateY(0);*/
}

/* create the arrow that points down */
.tool::before {
  content: '';
  border-style: solid;
  border-width: 1em .75em 0 .75em;
  border-color: #3E474F transparent transparent transparent;
  bottom: 100%;
  margin-left: -.2em;

  /* adding transform and transition with CSS3 */
  transform: scale(.6) translate(-90%);
  transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s .5s;
}

.tool:hover::before,
.too:focus::before {
  transition-delay: .2s;
}

/* create the speech-bubble */
.tool::after {
  background: #3E474F;
  border-radius: .25em;
  bottom: 180%;
  color: #EDEFF0;
  width: 10.5em;
  padding: 1em;
  margin-left: -5.75em;
  text-align: center;
  /* assigned the content to the span attribute */
  content: attr(data-tip);
  /* adding transform and transition with CSS3 */
  transform: scale(.6) translateY(50%);
  transition: all .65s cubic-bezier(.84, -.18,.31,1.26) .2s;
}

.tool:hover::after,
.tool:focus::after {
  transition-delay: 0s;
  transform: scale(1);
}



















