.tool {
  cursor: help;
  /* position: relative; so our pseudo-element will be relative to the span tag */
  position: relative;
}

/* create the ::before and ::after pseudo-elements, that we gonna use for the talk-bubble */
.tool::before,
.tool::after {
  position: absolute;
  left: 50%;
  /* hided at the beginning */
  opacity: 0;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::before {
  opacity: 1;
  z-index: 100;
}

/* create the arrow that points down */
.tool::before {
  content: '';
  border-style: solid;
  border-width: 1em .75em 0 .75em;
  border-color: #3E474F transparent transparent transparent;
  bottom: 105%;
  margin-left: -.9em;
}

/* create the speech-bubble */
.tool::after {
  background: #3E474F;
  border-radius: .25em;
  bottom: 180%;
  color: #EDEFF0;
  width: 10.5em;
  padding: 1em;
  margin-left: -5.75em;
  text-align: center;
  content: attr(data-tip);
}



















